ion-list.apps-list{
    background-color: #0E0F13;
    padding: 30px;
    padding-bottom: 40px;
    
    ion-item {
        --background: #1A1B21;
        --color: white;
        padding: 5px;
        border-radius: 14px;
        box-shadow: 0 4px 14px rgba(0,0,0,0.4);

    ion-label {
        font-size: 18px;
        font-weight: 600;
    }
    }
}

ion-item {
  --padding-start: 12px;
}