ion-content {
  --background: var(--ion-background-color);
}

.note-editor-container {
  padding: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.note-title-input {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 16px;
  --padding-start: 0;
  --padding-end: 0;
}

.note-content-textarea {
  flex: 1;
  font-size: 1rem;
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  
  textarea {
    min-height: 100%;
  }
}

ion-button {
  ion-icon {
    font-size: 24px;
  }
}
