<ion-header>
  <ion-toolbar 
    [style.--background]="(backgroundColor$ | async) || '#000000'"
    [style.--color]="getTextColor((backgroundColor$ | async))">
    <ion-title [style.color]="getTextColor((backgroundColor$ | async))">All Apps</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content 
  [style.--background]="(backgroundColor$ | async) || '#000000'"
  [style.color]="getTextColor((backgroundColor$ | async))">
  
  <ion-list 
    [style.background]="(backgroundColor$ | async) || '#000000'"
    style="padding-bottom: 80px;">
    <ion-item
      button
      *ngFor="let app of (availableApps$ | async)"
      (click)="openApp(app)"
      (contextmenu)="onLongPress(app, $event)"
      [style.--background]="(backgroundColor$ | async) || '#000000'"
      [style.--color]="getTextColor((backgroundColor$ | async))">
      <ion-label [style.color]="getTextColor((backgroundColor$ | async))">
        <h2>{{ app.appName }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
