<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Background Color</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group [value]="selectedColor" (ionChange)="onColorChange($event)">
      <ion-item *ngFor="let color of colors">
        <div class="color-preview" [style.background-color]="color.value"></div>
        <ion-label>{{ color.name }}</ion-label>
        <ion-radio slot="end" [value]="color.value"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>
