ion-content {
  --background: var(--ion-background-color);
}

ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
}

.color-preview {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  margin-right: 16px;
  border: 2px solid var(--ion-color-medium);
  flex-shrink: 0;
}

ion-label {
  margin-left: 0;
}
