.launcher {
  height: 100%;
  background: black;
  color: #ededed;
  padding: 32px;
  display: flex;
  flex-direction: column;
}

.time {
  font-size: 48px;
  font-weight: 200;
  margin-bottom: 40px;
}

.apps {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.app {
  font-size: 22px;
  font-weight: 400;
}