.settings-icon {
  font-size: 22px;
  cursor: pointer;
}

.no-apps-container{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  height: 90%;
}

ion-content.home-apps-container {
  --background: var(--background, #000000);
  padding-bottom: 60px;

  ion-buttons{
    ion-button{
      --color: #ffffff;
    }
  }

  ion-list {
    margin-top: 30px;
    background: transparent;

    ion-item {
      --background: transparent;
      --border-style: none;
      --inner-border-width: 0;

      ion-label h2 {
        font-size: 2rem;
        font-weight: 500;
      }
    }
  }
}

