<div class="title-header" 
  [style.background]="(backgroundColor$ | async) || '#000000'"
  [style.color]="getTextColor((backgroundColor$ | async))">
  <span> </span>
  <span
    class="material-icons settings-icon"
    [style.color]="getTextColor((backgroundColor$ | async))"
    [routerLink]="'/settings'">
    settings
  </span>
</div>

<ion-content 
  class="home-apps-container" 
  [style.--background]="(backgroundColor$ | async) || '#000000'"
  [style.--color]="getTextColor((backgroundColor$ | async))">

  <!-- Empty state -->
  <div *ngIf="!(apps$ | async)?.length" class="no-apps-container" [style.color]="getTextColor((backgroundColor$ | async))">
    <ion-label *ngIf="isLoading">Loading your apps...</ion-label>
    <ion-label *ngIf="!isLoading">Please select the apps from settings</ion-label>
  </div>

  <!-- App list -->
  <ion-list *ngIf="apps$ | async as apps" style="padding-bottom: 80px;">
    <ion-item
      button
      *ngFor="let app of apps"
      (click)="openApp(app)"
      (contextmenu)="onLongPress(app, $event)"
      [style.--color]="getTextColor((backgroundColor$ | async))"
    >
      <ion-label [style.color]="getTextColor((backgroundColor$ | async))">
        <h2>{{ app.appName }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>