<div class="title-header">
  <span> </span>
  <span
    class="material-icons settings-icon"
    [routerLink]="'/settings'">
    settings
  </span>
</div>

<ion-content class="home-apps-container">

  <!-- Empty state -->
  <div *ngIf="!(apps$ | async)?.length" class="no-apps-container">
    <ion-label>Please select the apps from settings</ion-label>
  </div>

  <!-- App list -->
  <ion-list *ngIf="apps$ | async as apps">
    <ion-item
      button
      *ngFor="let app of apps"
      (click)="openApp(app)"
    >
      <ion-label>
        <h2>{{ app.appName }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>