.settings-icon {
  font-size: 22px;
  color: white;
  cursor: pointer;
}

.no-apps-container{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  background-color: #000000;
  height: 90%
}

ion-content{
  --background: #000000;
  padding-bottom: 60px;

  ion-buttons{
    ion-button{
      --color: #ffffff;
    }
  }

  ion-list {
    margin-top: 30px;
  background: transparent;

    ion-item {
      --background: transparent;
      --color: #ffffff;
      --border-color: #111;

      ion-label h2 {
        color: #ffffff;
        font-size: 2rem;
        font-weight: 500;
      }
    }
  }
}

