ion-content{
  --background: #000000;

  ion-buttons{
    ion-button{
      --color: #ffffff;
    }
  }

  ion-list {
  background: transparent;

    ion-item {
      --background: transparent;
      --color: #ffffff;
      --border-color: #111;

      ion-label h2 {
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
}

