ion-content {
  --background: var(--ion-background-color);
}

ion-list {
  padding: 0;
}

ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  
  h2 {
    font-weight: 500;
    margin-bottom: 4px;
  }
  
  p {
    font-size: 0.875rem;
    color: var(--ion-color-medium);
  }
}
