<!-- TOP SAFE AREA -->
<div class="title-header">
  <span>Settings</span>
</div>
<!-- SCROLLABLE CONTENT -->
<ion-content class="setting-list-container">

  <ion-list>
    <ion-item button detail="true" (click)="navigateToAppSettings()">
      <ion-label>
        <h2>App Settings</h2>
        <p>Manage your apps, selections, and restrictions</p>
      </ion-label>
    </ion-item>

    <ion-item button detail="true" (click)="navigateToAppLimit()">
      <ion-label>
        <h2>App Display Limit</h2>
        <p>Set maximum apps shown on home screen</p>
      </ion-label>
    </ion-item>

    <ion-item button detail="true" (click)="navigateToBackgroundSettings()">
      <ion-label>
        <h2>Background Color</h2>
        <p>Customize your home screen background</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>